.btn {
  margin-bottom: 1.875rem;
  &--black {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 35px;

    @mixin atSmall {
      border: 1px solid black;
      margin-bottom: 0rem;
    }
  }
}
